<% var n = "<div>ma hoa ky tu dac biet</div>";
   var string = "<span style='color:red'>Cho phep the html</span>";
   var age = 16;
%>
<html>
    <head>
        <title>Demo</title>
    </head>
    <body>
        <h1> Welcome to HuyTuan.Info </h1>
        <span style="color: red">views/home.ejs</span>
        // <%= %>, bao mat, ma hoa html
        <h2><%= n %></h2>
        // <%- %> cho phep the html
        <h2><%- string %></h2>
        ========IF ELSE ===============
        <% if(age > 15) { %>
            <h2>age > 15</h2>  
        <% } else { %>
            <h2>age <= 15</h2>
        <% } %>
        ========FOR ===============
        <%  for(var i=1; i<=5; i++) { %>
            <h3>Khoa Hoc Nodejs - <%= i %></h3>
        <% } %>
    </body>
</html>